<article class="received-messages">

  <h2>Received Messages</h2>

    <table>
      <tbody>
      <tr>
        <td>Sender</td>
        <td>Message</td>
        <td>Sent</td>
      </tr>
    <% receivedMessages.forEach( function(message) { %>
      <tr>
        <td><%= message.sender().showName() %></td>
        <td><a href="<%= "#/" + message.get("id") %>">
          <%= message.escape("body").slice(0,50)%>
        </a></td>
        <td><%= moment(message.escape("created_at")).fromNow() %>
      </tr>
    <% }); %>
    </tbody>
  </table>

  <a href="#new">Send a message</a>
</article>

<article class="sent-messages">

  <h2>Sent Messages</h2>

    <table>
      <tbody>
      <tr>
        <td>Receiver</td>
        <td>Message</td>
        <td>Sent</td>
      </tr>
    <% sentMessages.forEach( function(message) { %>
      <tr>
        <td><%= message.receiver().showName() %></td>
        <td><a href="<%= "#/" + message.get("id") %>">
          <%= message.escape("body").slice(0,50)%>
        </a></td>
        <td><%= moment(message.escape("created_at")).fromNow() %>
      </tr>
    <% }); %>
    </tbody>
  </table>

</article>