<h1>Message Show Page</h1>

<article class="sent-messages">
  <ul class="message-content">
    <li>Message sent to <%= message.escape("receiver_id") %> from
      <%= message.escape("sender_id") %> at <%= moment(message.escape("created_at")).fromNow() %>
      has<%= message.get("is_seen?") ? "" : " not"%> been seen.
    </li>
    <li class="message-body">
      <%= message.escape("body") %>
    </li>
  </ul>
</article>