<header class="content-header group">
  <h1>Hey there <%= @user.show_name %></h1>
  <img class="avatar" src="<%= current_user.avatar.url(:thumb) %>">
  <a href="<%= edit_user_url %>">Edit Profile</a>
</header>

<section class="group">
  <article class="patterns">
    <a href="<%= new_pattern_url %>">Add a new pattern!</a>
    <% if @patterns %>
    <h2>Patterns you've made</h2>
    <ul>
      <% @patterns.each do |pattern| %>
      <li>
        <a href="<%= pattern_url(pattern) %>">
          <% if pattern.pictures.first %>
            <img src="<%= pattern.pictures.first.image.url(:thumb) %>">
          <% else %>
            <img src="<%= asset_path "unraveled_default.png" %>">
          <% end %>
          <%= pattern.name %>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>
  </article>

  <article class="library">

    <% if @library %>
      <h2>Patterns in your library</h2>
      <ul>
        <% @library.each do |pattern| %>
        <li>

          <a href="<%= pattern_url(pattern) %>">
            <% if pattern.pictures.first %>
              <img src="<%= pattern.pictures.first.image.url(:thumb) %>">
            <% else %>
              <img src="<%= asset_path "unraveled_default.png" %>">
            <% end %>
            <%= pattern.name %>
          </a>
        <form action="<%= user_liked_pattern_url(pattern) %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= auth_token %>
          <input type="submit" value="Remove pattern from library">
        </form>

          <% if pattern.instruction.exists? %>
            <a href="/patterns/<%= pattern.id %>/pdf">
              View pdf
            </a>
            <a href="<%= pattern.instruction.url %>">
              Download pdf
            </a>
          <% end %>
        </li>
        <% end %>

      </ul>
    <% end %>
  </article>
</section>

  <footer class="followers">
    <% if @followers %>
    <h3>People you enjoy</h3>
    <table>
      <tbody>
    
      <% @followers.each do |user| %>
        <tr>
          <td><a href="<%= user_url(user) %>">
            <%= user.show_name %>
          </a></td>
          <td><a href="<%= messages_url + "#new" %>">Send a message</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <% end %>
  </footer>
