<form action="<%= patterns_url %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <label>Pattern name:
    <input id="pattern_name" name="pattern[name]" type="text" value="<%= pattern.name %>">
  </label>

  <label>Category:
    <input id="pattern_category" name="pattern[category]" type="text" value="<%= pattern.category %>">
  </label>

  <label>Yarn name:
    <input id="yarn_name" name="pattern[yarn_name]" type="text" value="<%= pattern.yarn_name %>">
  </label>

  <label>Yarn weight:
    <input id="yarn_weight" name="pattern[yarn_weight]" type="text" value="<%= pattern.yarn_weight %>">
  </label>

  <input type="text" name="pattern[stitch_col]" value="<%= pattern.stitch_col %>"> stitches and <input type="text" name="pattern[stitch_row]" value="<%= pattern.stitch_row %>"> rows per <input type="text" name="pattern[swatch]" value="<%= pattern.swatch %>"> knit in <input type="text" name="pattern[swatch_stitch]" value="<%= pattern.swatch_stitch %>">

  <label>Needles:
    <input type="text" name="pattern[needles]" value="<%= pattern.needles %>">
  </label>

  <label>Yarn amount:
    <input type="text" name="pattern[amount_yarn]" value="<%= pattern.amount_yarn %>">
  </label>

  <label>Sizes:
    <input type="text" name="pattern[sizes]" value="<%= pattern.sizes %>">
  </label>

  <label>Price:
    <input type="text" name="pattern[price]" value="<%= pattern.price %>">
  </label>

  <label>Notes:
    <input type="textarea" name="pattern[notes]" value="<%= pattern.notes %>">
  </label>



  <input type="submit" value="patternAdd Pattern">
</form>