<article class="pattern-listing">
  <h1>All the patterns</h1>

  <ul>
    <% @patterns.each do |pattern| %>
      <li>
        <a href="<%= pattern_url(pattern) %>">
          Photo-- <%= pattern.name %> by <%= pattern.designer.email %>
        </a>
        <% pattern.tags.each do |tag| %>
          <ul>
            <li>
              <%= tag.name %>
            </li>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</article>

<article class="user-search">
  <% unless @display_users.empty? %>
  <h1>Users</h1>
    <ul>
      <% @display_users.each do |user| %>
      <li>
        <a href="<%= user_url(user) %>">
          <%= user.email %>
        </a>
      </li>
      <% end %>
    </ul>
  <% end %>
</article>