<article class="pattern-listing">
  <h1>All the patterns</h1>

  <ul>
    <% @patterns.each do |pattern| %>
      <li>
        <a href="<%= pattern_url(pattern) %>">
          <img src="<%= pattern.pictures.first.image.url(:thumb) if pattern.pictures.first %>"><%= pattern.name %>
        </a> by
        <a href="<%= user_url(pattern.designer) %>">
          <%= pattern.designer.email %>
        </a>
        <%= pattern.tags.map(&:name).join(', ') %>
      </li>
    <% end %>
  </ul>
</article>

<article class="user-search">
  <% unless @display_users.empty? %>
  <h1>Users</h1>
    <ul>
      <% @display_users.each do |user| %>
      <li>
        <a href="<%= user_url(user) %>">
          <%= user.email %>
        </a>
      </li>
      <% end %>
    </ul>
  <% end %>
</article>
