<article class="pattern-listing">
  <h1>All the patterns</h1>

  <ul>
    <li>
    <% @patterns.each do |pattern| %>
      <ul>
        <li><a href="<%= pattern_url(pattern) %>">
          <% if pattern.pictures.first %>
            <img src="<%= pattern.pictures.first.image.url(:thumb) %>">
          <% else %>
            <img src="<%= asset_path "unraveled_default.png" %>">
          <% end %>
          <%= pattern.name %>
        </a> by</li>
        <li>
          <a href="<%= user_url(pattern.designer) %>">
            <%= pattern.designer.email %>
          </a>
        </li>
        <li>
          Tags:
          <% pattern.tags.each do |tag| %>
            <a class="search-tags" href="<%= search_url + '?query=' + tag.name %>"><%= tag.name %></a>
          <% end %>
        </li>
      </ul>
    <% end %>
  </li>
  </ul>
  <%= paginate @patterns %>
</article>

<article class="user-search">
  <% if @display_users %>
  <h1>Users</h1>
    <ul>
      <% @display_users.each do |user| %>
      <li>
        <a href="<%= user_url(user) %>">
          <img src="<%= user.avatar.url(:thumb) %>">
          <%= user.email %>
        </a>
      </li>
      <% end %>
    </ul>
    <%= paginate @display_users %>
  <% end %>
</article>

