<h1><%= @pattern.name %></h1>

<div class="side-bar">

</div>

<section class="pattern-info">
  <ul>
    <% @pattern.attributes.each do |key, value| %>
      <li><%= key %> : <%= value%></li>
    <% end %>
  </ul>
</section>

<% if current_user.id == @pattern.designer_id %>
  <a href="<%= edit_pattern_url %>">Edit this pattern</a>

  <form action="<%= pattern_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="submit" value="Forget this pattern">
  </form>
<% elsif !@pattern.fans.include?(current_user) %>

  <form action="<%= pattern_user_liked_patterns_url(@pattern) %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="submit" value="Add to Library">
  </form>
<% end %>