<% if @pattern.pictures.count != 0 %>
  <div id="carrousel" class="pattern-photos">
    <ul class="group">
      <% @pattern.pictures.each do |picture| %>
        <li><img src="<%= picture.image.url(:thumb) %>"></li>
      <% end %>
    </ul>

  </div>

  <div id="carrousel-nav">
    <span class="previous">Previous</span> &mdash;
    <strong class="number">0 / 0</strong> &mdash;
    <span class="next">Next</span>
  </div>

<% end %>

<h1><%= @pattern.name %></h1>

<section class="pattern-info-table">
    <table>
      <tbody>
      <tr>
        <td>Designer</td>
        <td>
          <%= @pattern.designer.show_name %>
        </td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
          <%= @pattern.category %>
        </td>
      </tr>
      <tr>
        <td>Yarn</td>
        <td>
          <%= @pattern.yarn_name %>
        </td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>
          <%= @pattern.yarn_weight %>
        </td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>
          <%= @pattern.amount_yarn %>
        </td>
      </tr>
      <tr>
        <td>Sizes</td>
        <td>
          <%= @pattern.sizes %>
        </td>
      </tr>
      <!-- <tr>
        <td>Price</td>
        <td>
          <%= @pattern.price %>
        </td> -->
      </tr>
      <tr>
        <td>pdf for download?</td>
        <td>
          <%= @pattern.instruction.exists? ? "yes" : "no" %>
        </td>
      </tr>
      <tr>
        <td>link</td>
        <td>
          <a href="<%= @pattern.url %>"><%= @pattern.url %></a>
        </td>
      </tr>
    </tbody>
  </table>

  <section class="pattern-info">
    <p>
      Gauge: <%= @pattern.stitch_col %> stitches and <%= @pattern.stitch_row %> rows
      for a <%= @pattern.swatch %> inch swatch in <%= @pattern.swatch_stitch %> on
      <%= @pattern.needles %>
    </p>
    <p><%= @pattern.notes %></p>
  </section>

  <section class="tags">
    Tags:
    <% @pattern.tags.each do |tag| %>
      <a class="search-tags" href="<%= search_url + '?query=' + tag.name %>"><%= tag.name %></a>
    <% end %>
  </section>

</section>

<section class="pattern-actions">
  <% if current_user.id == @pattern.designer_id %>
    <a href="<%= edit_pattern_url %>">Edit this pattern</a>

    <form action="<%= pattern_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
      <%= auth_token %>
      <input type="submit" value="Remove this pattern from unraveled, forever.">
    </form>
  <% elsif !@pattern.fans.include?(current_user) %>

    <form action="<%= pattern_user_liked_patterns_url(@pattern) %>" method="post">
      <%= auth_token %>
      <input type="submit" value="Add to Library">
    </form>
  <% end %>
</section>

<script>
$(document).ready(function(){
  Carrousel = (function() {

    var delay = 5000;
    var carrousel = $("#carrousel");
    var itemsHolder = carrousel.find("> ul");
    var items = itemsHolder.find("> li");
    var itemWidth = items.first().width();
    var currentItem = -1;
    var timerId;

    var nextButton = $("#carrousel-nav > .next");
    var previousButton = $("#carrousel-nav > .previous");
    var numberLabel = $("#carrousel-nav > .number");

    var init = function(){
      itemsHolder.css({"width": (items.length * itemWidth) + "px;"})
      bind();
      start();
    };

    var bind = function(){
      nextButton.on("click", next);
      previousButton.on("click", previous);
    }

    var start = function(){
      loop();
      timerId = window.setInterval(loop, delay);
    }

    var stop = function(){
      if(timerId){
        window.clearInterval(timerId);
      }
    }

    var loop = function(){
      next();
    }

    var next = function(){
      currentItem++;
  
      if (currentItem == items.length){
        currentItem = 0;
      }
  
      move();
    };

    var previous = function(){
      currentItem--;
  
      if (currentItem <= 0){
        currentItem = items.length -1;
      }
      move();
    }

    var move = function(){
      var html = (currentItem + 1) + " / " + items.length;
      numberLabel.html(html);
  
      var leftPosition = currentItem * itemWidth * -1;
      itemsHolder.stop().animate({"left": leftPosition + "px"}, 500);
    }

    return {
      init: init,
      next: next,
      previous: previous,
      start: start,
      stop: stop
    }
  })();
  
  Carrousel.init();
});
</script>