<!DOCTYPE html>
<html>
<head>
  <title>Unraveled</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav-bar group">
  <% if current_user %>
    <ul>
      <li><a href="<%= patterns_url %>">Patterns</a></li>
      <li><a href="<%= user_url(current_user) %>">Library</a></li>
      <li><a href="#">Friends</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Queue</a></li>
      <li><a href="#">Favorites</a></li>
      <li><a href="<%= edit_user_url(current_user) %>">Edit profile</a></li>
    </ul>

  <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="submit" value="Sign Out">
  </form>

  <% else %>

  <a href="<%= new_session_url %>">Sign In</a>
  <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

</nav>
<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
